# Backend and Database env
PORT=5000
MONGO_URI="mongodb+srv://Ravi:ravi%4018homes@cluster0.dxxn4on.mongodb.net/18homes?appName=Cluster0"
JWT_SECRET=supersecretkey

# Frontend (client) envs - safe to expose only public API base
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
NEXT_PUBLIC_APP_DATABASE_URL=http://localhost:5000
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TLOcW73PhlSHBW